<div class="app-view-header">Groups</div>
<div ng-controller="GroupController" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">My groups</div>
        <div class="panel-body">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Id</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="group in groups">
                        <td>{{$index + 1}}</td>
                        <td>{{group.name}}</td>
                        <td>{{group.id}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <table class="table">

    </table>
</div>