<div class="app-view-header"></div>
<div ng-controller="LoginController" class="container-fluid">
   <div class="panel">
      <div class="panel-body">
         <p class="pv text-bold">LOGIN</p>
         <form role="form" class="mb-lg ng-pristine ng-valid">
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group has-feedback mb">
                     <input id="email" type="email" placeholder="Your email" autocomplete="off" class="form-control">
                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  </div>
                  <br>
                  <div class="form-group has-feedback">
                     <input id="password" type="password" placeholder="Your password" class="form-control">
                     <span class="fa fa-lock form-control-feedback text-muted"></span>
                  </div>
               </div>
               <div class="col-md-12">
                  <button type="submit" class="btn btn-block btn-info mb">Login</button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>